@font-face {
    font-family: 'fontone';
    src: url('/fonts/inter-variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonttwo';
    src: url('/fonts/space-grotesk-variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,p {
    font-family: 'fontone', sans-serif;
}


h1,
h2,h3,h5 {
    font-family: 'fonttwo', sans-serif;
}
.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Custom Extra Bold Utility */
.fw-extrabold {
    font-weight: 900 !important;
}
@media (min-width: 768px) {
    .fs-md-4 {
        font-size: calc(1.275rem + 0.3vw) !important; /* Matches Bootstrap's fs-4 */
    }
}

.ff-heading { font-family: 'fonttwo', sans-serif !important; }


.font{
    font-size: 50px;
}
.font-one{
    font-size:18px
}
.font-two{
    font-size: 20px;
}

.font-three{
    font-size: 22px;
}